*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    min-width: 405px;
}

.articulo{
    display: grid;
    grid-template-areas: 
                    "nav nav nav nav"
                    "header header header header"
                    "main main main aside"
                    "main main main aside"
                    "virtudes virtudes virtudes virtudes"
                    "footer footer footer footer";
    /*grid-template-rows: 0.2fr 0.2fr 1fr 1fr .1fr; */
    grid-template-columns: 1fr 1fr 1fr .8fr;     
}

.titulo{
    padding: 7px 0;
    font-family: Georgia, 'Times New Roman';
    font-size: 60px;
    
    color: #ff2;
}

.encabezado{
    display: inline-flex;
    grid-area: nav;
    background: rgb(54, 54, 54);
}

.encabezado__nombre{
    width: 40%;
    padding: 1% 0;
}

.nombre-empresa{
    text-align: center;
    font-family: 'Orelega One', cursive;
    color: #fff;
}

.nav__li a{
    color: #fff;
}

.div-nav{
    width: 100%;
}

.nav {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    font-size: 120%;
    font-family: 'Orelega One', cursive;
    text-align: right;
}

.nav__ul {
    display: flex; 
    justify-content: space-around;
}

.nav__li{
    padding: 10px 17px;
    list-style: none;
}

.nav__li i{
    padding-right: 5px;
}
.nav__li a{
    text-decoration: none;
}

.header{
    padding: 2% 7%;
    grid-area: header;
    background-image: url(images/plaqueta.webp);
}

.cuerpo{
    grid-area: main;
}
.cuerpo__texto{
    padding: 3% 7% 2% 9%;
}

h3{
    padding: 7px 0;
    font-family: Georgia, 'Times New Roman';
    font-size: 30px;
}

.cuerpo__contenido{
    padding: 10px;
}

.cuerpo__contenido p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.virtudes{
    grid-area: virtudes;
    display: flex;
    flex-direction: row;
    padding: 2% 6% 2% 8%;
    background: #bbb;
}

.virtudes__elemento{
    padding: 0 10px;
    margin: 0 5px;
    background: #fff;
    border: 1px transparent #000;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 #000;
    transition: all 0.3s;  
}

.virtudes__elemento:hover{
    transform: scale(1.03);
    box-shadow: 2px 2px 9px 0 #000;
}

.virtudes__elemento-frase{
    padding: 5px;
    text-align: center;
}

h5{
    font-family: Georgia, 'Times New Roman';
    font-size: 25px;
    padding-bottom: 3px;
}

.virtudes__elemento-frase p{
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.div__aside{
    grid-area: aside;
    margin-bottom: 30px;
    padding: 0 30px;
    background-image: url(images/plaqueta.webp);
}

.aside{
    display: inline-block;
    position: sticky;
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    top: 10%;
    margin-bottom: 30px;
   
}

.aside__titulo{
    padding: 7px 0;
    font-family: Georgia, 'Times New Roman';
    font-size: 25px;
}

.aside__li{
    padding: 7px 0;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}

.aside__a{
    text-decoration: none;
}

.pie{
    grid-area: footer;
    background: rgb(54, 54, 54);
    padding: 7%;
}

.div-formulario{
    border: 5px solid #fff;
    border-radius: 15px;
    padding: 3%;
}

.div-formulario__form{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formulario__img{
    border-radius: 50%;
    background: #fff;
}

.img-mail{
    border-radius: 50%;
    background-color: #fff;
}

.div-formulario__campos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 20px;
}

.formulario__campo{
    margin: 1% 0;
}

.formulario__titulo{
    color: #fff;
}

.textarea{
    resize: none;
}

.footer{
    color: #fff;
    margin: 40px 0;
    text-align: center;
    font-size: 20px;
}

/* Estilos únicos de "Otros proyectos"*/
.servicio{
    font-size: 23px;
    margin: 20px 0;
    text-align: center;
}

.proximamente{
    width: 100%;
    height: 150px;
    padding: 2% 6% 2% 12%;
    background: #bbb;
}

/* Animación para "Otros proyectos": */

.animacion{
    display: inline-block;
    position: relative;
    margin: 2px 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #000;
    animation-name: desplazamiento;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.circulo-1{
    background-color: #f00;
    animation-delay: 80ms;
}

.circulo-2{
    background-color: #ee0;
    animation-delay: 40ms;
    
}

.circulo-3{
    background-color: #0f0;
    
}

@keyframes desplazamiento{
    0%{
        left: 33%;
    }
    100%{
        left: 53%;
    }
}

@media screen and (max-width: 750px) {
    .articulo{
        display: grid;
        grid-template-areas: 
                        "nav nav nav nav"
                        "header header header header"
                        "aside aside aside aside"
                        "main main main main"
                        "virtudes virtudes virtudes  virtudes"
                        "footer footer footer footer";
        /*grid-template-rows: 0.2fr 0.2fr 1fr 1fr .1fr; */
        grid-template-columns: 1fr 1fr 1fr .7fr;  
    }

    .encabezado__nombre{
        width: 60%;
        padding-top: 50px;
        padding-left: 40px;
    }

    .nav__ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*.div__aside{
        width: 60%;
    }*/

    .virtudes{
        grid-area: virtudes;
        flex-direction: column;
        /*padding: 0 6% 2% 8%;*/
    }

    .virtudes__elemento{
        margin-top: 15px;
    }

    .aside{
        position: static;
        width: 100%;
        text-align: center;
        background: #ff2;
    }

}